*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: Roboto, Arial, Arial, Helvetica, sans-serif;
}

.top-and-sidebar .topbar {
  position: fixed;
  right: 0;
  background: #212121;
  height: 4rem;
  width: 94vw;
}

.top-and-sidebar .topbar .container {
  height: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 6rem;
}

.top-and-sidebar .topbar .container .logo {
  height: 4.5rem;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.top-and-sidebar .topbar .container .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.top-and-sidebar .topbar .container .search .search-bar {
  width: 100%;
  padding-block: 0.5rem;
  font-size: 1em;
  padding-left: 0.3rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #121212;
  border-right: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  color: white;
}

.top-and-sidebar .topbar .container .search .search-btn {
  background: rgba(255, 255, 255, 0.1);
  padding: 7px 1rem 5.8px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-right: 1rem;
  position: relative;
}

.top-and-sidebar .topbar .container .search .search-btn:hover img {
  opacity: 1;
}

.top-and-sidebar .topbar .container .search .search-btn img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.5;
}

.top-and-sidebar .topbar .container .right-col {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  margin-right: 2rem;
}

.top-and-sidebar .topbar .container .right-col .channel-logo {
  border-radius: 50%;
}

.top-and-sidebar .topbar .recommendations {
  background: #212121;
  position: fixed;
  top: 4rem;
  right: 0;
  width: 94vw;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.top-and-sidebar .topbar .recommendations .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 1rem;
  margin-block: 1rem;
}

.top-and-sidebar .topbar .recommendations .container a:not(.active) {
  background: rgba(255, 255, 255, 0.1);
  padding: 0.5rem 0.8rem;
  font-size: 0.9rem;
  color: white;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50q;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.top-and-sidebar .topbar .recommendations .container a:not(.active):hover {
  background: rgba(255, 255, 255, 0.2);
}

.top-and-sidebar .topbar .recommendations .container .active {
  background: white;
  padding: 0.5rem 0.8rem;
  font-size: 0.9rem;
  color: black;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50q;
}

.top-and-sidebar .sidebar {
  position: fixed;
  background: #212121;
  z-index: 1;
  height: 100vh;
  width: 6vw;
}

.top-and-sidebar .sidebar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
  gap: 2.2rem 0;
}

.top-and-sidebar .sidebar .container a {
  font-size: 0.6rem;
  color: white;
  text-decoration: none;
}

.top-and-sidebar .sidebar .container a img {
  display: block;
  margin: 0 auto;
  margin-bottom: 0.4rem;
}

.video-grid {
  position: absolute;
  background: #181818;
  width: 94vw;
  right: 0;
  top: 8.35rem;
  z-index: -1;
}

.video-grid .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin: 1.3rem;
}

.video-grid .wrapper .video-container a {
  text-decoration: none;
}

.video-grid .wrapper .video-container .thumbnail {
  position: relative;
}

.video-grid .wrapper .video-container .thumbnail::after {
  content: "12:43";
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  bottom: 0.5rem;
  right: 0.2rem;
  padding: 0.2rem 0.4rem;
  font-size: 0.8em;
  color: white;
  border-radius: 3px;
}

.video-grid .wrapper .video-container .video-bottom {
  padding-block: 1rem 3rem;
  cursor: pointer;
  width: 100%;
}

.video-grid .wrapper .video-container .video-bottom .video-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 0.8rem;
}

.video-grid .wrapper .video-container .video-bottom .video-profile p {
  font-size: 0.95rem;
}

.video-grid .wrapper .video-container .video-bottom .video-profile .title {
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.video-grid .wrapper .video-container .video-bottom .video-profile .channel-name,
.video-grid .wrapper .video-container .video-bottom .video-profile .other {
  color: #aaaaaa;
  line-height: 1.5;
}

.video-grid .wrapper .video-container .video-bottom .video-profile .channel-logo {
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-radius: 50%;
}
/*# sourceMappingURL=main.css.map */